@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";

@theme {
  /* Tes couleurs */
  --color-blue: hsl(236, 21%, 26%);
  --color-gray: hsl(237, 18%, 59%);
  --color-red: hsl(345, 95%, 68%);
  --color-dark-blue: hsl(235, 16%, 14%);
  --color-black: hsl(234, 17%, 12%);
  --font-red-hat: "Red Hat Display", sans-serif;
}

@layer utilities {
  .perspective-container {
    perspective: 400px;
  }
  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Vital pour Safari/Chrome */
  }
}

/* --- ANIMATIONS CRUCIALES POUR LE NOUVEAU JS --- */

/* 1. Le haut se replie (0° -> -90°) */
.animate-fold-top {
  animation: fold-top 0.3s ease-in forwards;
  transform-origin: bottom;
}

/* 2. Le bas se déplie (90° -> 0°) avec délai */
.animate-unfold-bottom {
  animation: unfold-bottom 0.3s ease-out forwards;
  transform-origin: top;
  animation-delay: 0.3s; /* Attend que le haut ait fini */
}

@keyframes fold-top {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes unfold-bottom {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
